name: Tests
   
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
        test-type: [unit, lint]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      uses: bahmutov/npm-install@v1
    - name: Run test (${{ matrix.test-type }})
      run: 'npm run test:${{ matrix.test-type }}'
      env:
        CI: true
